<section id="account-content">
<div class="width wm">
  <div id="reset-form">
    {% form 'reset_customer_password' %}
      <h1>Reset Password</h1>
      <div class="field">
        <input type="password" name="customer[password]" id="reset-password"{% if form.errors contains 'password' %} class="error"{% endif %}>
        <label for="reset-password">Password</label>
      </div>
      <div class="field">
        <input type="password" value="" name="customer[password_confirmation]" id="reset-password-confirm"{% if form.errors contains 'password_confirmation' %}class="error"{% endif %}>
        <label for="reset-password-confirm">Confirm Password</label>
      </div>
      <input type="submit" value="submit" class="btn">
      {{ form.errors | default_errors }}
    {% endform %}
  </div>
</div>
</section>