<section class="fh fc error">
	<div class="fv fc wm mc tc">
		<h1 class="p4">This is definitely the wrong department.</h1>
		<a href="/">Go Home</a>
	</div>
</section>{%- comment -%}smartseo_integration_begin{%- endcomment -%}{{ 'smart-seo-broken-link-detection.js' | asset_url | script_tag }}{%- comment -%}smartseo_integration_end{%- endcomment -%}